<% layout('/layouts/boilerplate') %> 


<% if (message) { %>
  <p><%= message %></p>
  <% } %>

  <div class="create-blog content" dir="rtl" >
    <!-- this action="/blogs" should be same with the parameter in app.post -->
    <form action="/blogs" method="POST">
      <label for="title">العنوان:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">مقتطف من التدوينة </label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">التدوينة</label>
      <textarea id="body" name="body" style="width: 380px;height: 300px;" required></textarea>
      <button>انشر</button>
    </form>
  </div>